

  input[type=text], input[type=number] {
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=submit] {
    background-color: cadetblue;
    color: white;
    display: block;
    margin: 0 auto;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    
    
}   
input[type=checkbox] {
    width:auto;
    float:right;
}

label {
    width: 60px;
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.form-container {
    padding: 37px 55px 27px;
    position: relative;
    background: white;
    background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    background: -moz-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    -webkit-background-size: 100% 30px;
    -moz-background-size: 100% 30px;
    -ms-background-size: 100% 30px;
    background-size: 100% 30px;
}

.task-table {
    border-collapse: collapse;
    width: 100%;
}


.task-table th, td {
    text-align: left;
    padding: 20px;
    width: 50%;
    text-align: start;
    
    
}





.complete {
   color: green;
}

.incomplete {
    color:red;
}

body {
    padding: 37px 55px 27px;
    position: relative;
    border: 1px solid #B5B5B5;
    background: white;
    background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    background: -moz-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    -webkit-background-size: 100% 30px;
    -moz-background-size: 100% 30px;
    -ms-background-size: 100% 30px;
    background-size: 100% 30px;
    font: 16px 'AmericanTypewriter', Cambria, Georgia; color: #282625;
    }

.list::after {content:''; position:absolute; width:0px; top:0; left:30px; bottom:0; border-left:1px solid #F8D3D3;}


.list:hover {
        background-color: #f0f0f0;
        -webkit-transition: all 0.2s;
        -moz-transition:    all 0.2s;
        -ms-transition:     all 0.2s;
        -o-transition:      all 0.2s;
}

table {
    font: 16px 'AmericanTypewriter', Cambria, Georgia; color: #282625; margin: 0 auto; width: 100%;
}